<html>
<head>
  {%include "templates/metatags.njk"%}
  <link rel="stylesheet" href="https://use.typekit.net/ogn0czn.css">
  <link rel="stylesheet" href="https://use.typekit.net/bvr3gvp.css">
  <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/base-icons/politico-base-icons.min.css">
</head>
<body>
  <div class="header-container">
    <h1>Quotable</h1>
    <h4>Shareable Quote Cards</h4>
    <p>Use the editor below to create your card. You can edit your quote, source, and attribution directly on the card. Use the controls on the right to adjust the style and size of the image. The save image button will save the image to your computer.</p>
  </div>
  <div id="app">    
  </div>
  <script src="./js/main.js"></script>
</body>
</html>