<html>
<head>
  {%include "templates/metatags.njk"%}
  <link rel="stylesheet" href="https://use.typekit.net/ogn0czn.css">
  <link rel="stylesheet" href="https://use.typekit.net/bvr3gvp.css">
  <link rel="stylesheet" type="text/css" href="https://www.politico.com/interactives/cdn/fonts/base-icons/politico-base-icons.min.css">
</head>
<body>
  <div class="header-container">
    <h1>Quotable</h1>
    <p>Welcome to POLITICO&rsquo;s Quotable tool! You can use this to create quote card images suitable for sharing on social media.</p> 
    <p>Use the form below to create your card. You can edit your quote, source, and attribution directly on the card. Use the controls on the right to adjust the style and size of the image.</p>
  </div>
  <div id="app">    
  </div>
  <script src="./js/main.js"></script>
</body>
</html>